DJANGO_SETTINGS_MODULE=config.settings.dev
DEBUG=True

SECRET_KEY=your-secret-key-here

DB_NAME=showrooms
DB_USER=postgres
DB_PASSWORD=your-db-password

BOT_TOKEN=your-telegram-bot-token
BOT_USERNAME=your_bot_username
BOT_SECRET=your-bot-secret
