# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Django
*.log
media/
staticfiles/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Tests / coverage
.coverage
htmlcov/
pytest_cache/
